includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 9
    paths:
        - app
        - src
    excludePaths:

    checkMissingIterableValueType: false

    universalObjectCratesClasses:
    - Illuminate\Http\Resources\Json\JsonResource
